body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    background-image: url("../images/background-body.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;

}

.background-container {
    position: relative;
    width: 20%;
    height: 100%;
}

.background-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    /* Ajustez selon vos besoins */
    height: 48%;
    background-image: url("../images/pic3.jpg");
    background-size: cover;

}

.background-image-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    /* Ajustez selon vos besoins */
    height: 48%;
    background-image: url("../images/pic4.jpg");
    background-size: cover;
}

.background-image-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    /* Ajustez selon vos besoins */
    height: 49%;
    background-image: url("../images/pic6.jpg");
    background-size: cover;

}

.background-image-4 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    /* Ajustez selon vos besoins */
    height: 49%;
    background-image: url("../images/pic5.jpg");
    background-size: cover;

}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

.header_text {
    font-family: 'Nunito';
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.text {
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    /* optional: adds some space between the buttons */
}

.btn {
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FAF9F6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}